.avatar {
    width: 200px;
    height: 250px;
    display: flex;
    /* grid-template-columns: repeat(4fr, minmax(300px, 1fr));  */
    flex-direction: column;
    /* gap: 25px; */
    /* padding: 20px; */
    border-radius: 8px ;
    background-color: rgb(175, 146, 18);
    border: 2px solid black;
    box-shadow: 2px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.avatar img {
    border-radius: 50%;
    height: 100px;

}
/* .avatar button{
    background-color: green;
    color: aliceblue;
    border-radius: 2px;
} */
